$primary-color: #7A11F9;
$secondary-color: #FEBC1C;
$success-color: #28a745;
$danger-color: #dc3545;
$info-color: #17a2b8;
$warning-color: #ffc107;
$light-color: #f8f9fa;
$dark-color: #343a40;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
h1{
  font-family: 'Press Start 2P', system-ui;
  font-size: 4rem;
  color: $light-color;
}

.bg-color {
  background: rgb(122,17,249);
  background: linear-gradient(188deg, rgba(122,17,249,1) 0%, rgba(81,31,141,1) 100%);
}
.m-height {
  min-height: 100vh;
}
.m-width {
  max-width: 100%;
}
.flex{
  display: flex;
}
.align-center{
  align-items: center;
}
.justify-center{
  justify-content: center;
}
.flex-column{
  flex-direction: column;
}
.flex-wrap{
  flex-wrap: wrap;
}
.text-center{
  text-align: center;
}

.relative{
  position: relative;
}
.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 2rem;
}

.p-3 {
  padding: 3rem;
}

.p-4 {
  padding: 4rem;
}

.p-5 {
  padding: 5rem;
}

.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 2rem;
}

.m-3 {
  margin: 3rem;
}

.m-4 {
  margin: 4rem;
}

.m-5 {
  margin: 5rem;
}
